/* Paper container styles */
.paperContainerPI {
    margin-top: 50px;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    padding: 30px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(10px);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* Typography styles */
.typographyHeaderPI {
    font-family: 'Inter', sans-serif;
    text-align: center;
    margin-bottom: 10px;
}

/* Input fields styles */
.inputField {
    margin-bottom: 15px;
}

/* TextField input styles */
.textFieldRoot .MuiFilledInput-root {
    border-radius: 12px; /* Rounded corners for input */
}

.textFieldRoot .MuiFilledInput-root:before,
.textFieldRoot .MuiFilledInput-root:hover:before,
.textFieldRoot .MuiFilledInput-root.Mui-focused:before {
    border-bottom: none; /* Remove underline on focus, hover, or default */
}

/* Subject row (for individual grade/unit inputs) */
.subjectRow {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

/* Button styles */
.button {
    background-color: #444444; /* Custom background color */
    padding: 12px 32px;
    border-radius: 12px;
    text-transform: none; /* Keeps text in sentence case */
    margin-bottom: 12px;
}

.button:hover {
    background-color: #333333; /* Custom hover color */
}

/* Remove subject button styles */
.remove {
    height: 3rem;
    background-color: #d85050;
    color: white;
}

.remove:hover {
    background-color: #b53232; /* Darker red for hover */
}

.remove:active {
    background-color: #912b2b; /* Even darker red for click */
}

/* Add Subject button styles */
.addSubjectButton {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 1rem 0;
}
